<div>
  <div>
    <h3>images</h3>
  </div>
  <div>
    <img src="/public/upload/{{ image.title }} " alt="">
  </div>
  <div>
    <p>Posted: {{ timeago image.timestamp }}</p>
  </div>
  <div>
    <button id="btn-like" data-id="{{image.uniqueId}}">Like</button>
  </div>
</div>
