<div>
  <div>
    <h3>upload files</h3>
  </div>
  <div>
    <form action="/image" method="POST" enctype="multipart/form-data">
      <p>
        <input type="file" name="file" id="">
      </p>
      <p>
        <button type="submit" id="submit_btn">
          upload image
        </button>
      </p>
    </form>
  </div>
  <div>
    <p>Newest images</p>
    {{#each image}}
    <div>
      <a href="/public/img/{{uniqueId}}">
        <img src="/public/upload/{{filename}}" alt="{{title}}">
      </a>
    </div>
    {{/each}}
  </div>
</div>
